* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 796px) {
    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    ul {
        margin: 10px 0;
    }
}

header {
    display: flex;
    justify-content: space-between ;
    padding: 35px 60px;
}

body {
    height: 100vh;
    background-image: url('./photo-1605790923776-2f3649ed871a.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    display: flex;
    width: 50%;
    float: center;
    list-style-type: none;
}

li {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

h1 {
    margin: 80px 80px 10px 80px;
    text-transform: uppercase;
    color: white;
    font-stretch: wider;
}

span {
    font-weight: lighter;
}

p {
    width: 500px;
    margin-left: 30px;
    line-height: 1.6;
    color:black;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}

.signup {
    transition-duration: 0.2s;
    background-color: #2a2a72;
    border-radius: 70px;
    font-size: 15px;
    color: white;
    width: 100px;
    border: none;
    padding: 3px 7px;
    outline: none;
}

.signup:hover {
    background-color: whitesmoke;
    color: darkcyan;
}

.signin {
    background-color: transparent;
    font-size: 15px;
    border: none;
    width: 100px;
    outline: none;
}

.signin:hover {
    color: white;
}

.learnmore {
    margin: 10px 80px;
    transition-duration: 0.2s;
    background-color: lightskyblue;
    border-radius: 70px;
    font-size: 12px;
    width: 100px;
    color: white;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 88px 0px 88px 80px;
}

.learnmore:hover {
    background-color: whitesmoke;
    color: darkcyan;
}

.drop {
    width: 25px;
    height: 25px;
    color: #2a2a72;
    margin-left: 10px;
}

.logo {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-variant: initial;
    margin-left: 25px;
}

a:link,
a:visited {
    color: #2a2a72;
    text-decoration: none;
}

a:hover,
a:active {
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 255px;
}
